<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionString>
		<add name="InstitutoConnection"
			 connectionString="Data Source=TAFOLLA\TAFOLLA;Initial Catalog=InstitutoTICH;user ID=sa;passwword=JuanPas12"
			 orividerName="System.Data.SqlClient"
			 />
	</connectionString>
</configuration>