<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSAlumnosSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49433/WSAlumnos.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSAlumnosSoap" contract="srAlumnos.WSAlumnosSoap"
                name="WSAlumnosSoap" />
        </client>
    </system.serviceModel>
</configuration>