@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">TI Capital Humano</h1>
        <p class="lead">Sistema de control Escolar</p>
        <p>@Html.ActionLink("Saber más de TICH >","About", null, htmlAttributes: new { @class = "btn btn-primary btn-md" })</p>
    </section>
</main>

